USE [master]
GO
/****** Object:  Database [FamilyMart]    Script Date: 2018/12/07 22:44:27 ******/

ALTER DATABASE [FamilyMart] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamilyMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamilyMart]
GO
/****** Object:  Table [dbo].[item]    Script Date: 2018/12/07 22:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[item] ADD  DEFAULT ((100)) FOR [quantity]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
USE [master]
GO
